:root {
    /* GERAL */
    --color-h1-geral: #FA9B00;
    --background-color-geral: #0e0d26;

    /* HEADER */
    --color-link-header: #ffffff;
    --color-icon-header: #FA9B00;
    --color-link-header-hover: #FA9B00;
    --color-line-header: #838383;

    /* FOOTER */
    --color-link-footer: #ffffff;
    --color-text-footer: #fffcfc;
    --color-title-footer: #838383;
    --color-year-footer: #e5e5e5;
    --color-link-footer-hover: #FA9B00;
    --color-line-footer: #838383;

    /* HOME */
    --color-span-home:red;
    --color-title-home: #fdfdfd;
    --button-color-cadastro: #020202;
    --button-background-cadastro: #FA9B00;
    --button-color-login: #fcfcfc;
    --button-border-login: #FA9B00;
    --button-color-login-hover: #ffffff0d;
    --button-border-login-hover: #ffffff66;
    --subtitulo-home: #ffffffbd;
    --color-bagde: #FA9B00;
    --background-bagde: rgba(255, 159, 10, 0.12);

    /* CARD */
    --color-card-hover: #FA9B00;
    --color-card-p: #dbdada;
    --border-card: #9ca3af;
    --color-card-title: #ffffff;
    --background-color-card: #1e1e2f;
    --color-icon-card: #FA9B00;

    /* Dev */
    --color-dev-hover: #FA9B00;
    --color-dev-p: #dbdada;
    --border-dev: #9ca3af;
    --color-dev-title: #ffffff;
    --color-dev-name: #FA9B00;
    --background-color-dev: #1e1e2f;
    --color-icon-dev: #dbdada;

    /* RANKING */
    --color-ranking: #ffffff;
    --color-ranking-hover: #FA9B00;
    --color-position: #FA9B00;
    --color-sigla: #9ca3af;
    --color-usuarios: #FA9B00;
    --button-background-color-ranking: #FA9B00;
    --background-color-ranking: #1e1e2f;
    --button-color-atualizar: #020202;

}

html,
body {
    overflow-x: hidden;
}

* {
    background-color: var(--background-color-geral);
    font-family: "Chau Philomene One", sans-serif;
}