:root {
  /* GERAL */
  --color-h1-geral:#FA9B00;
  --background-color-geral:#262933;

  /* HEADER */
  --color-link-header:#ffffff;
  --color-icon-header:#FA9B00;
  --color-link-header-hover:#FA9B00;
  --color-line-header:#838383;
}

*{
  background-color: var(--background-color-geral);
  font-family: "Chau Philomene One", sans-serif;
  
}

